%h1
  Estacions
  %small #{@stations.size} en total

.well
  = search_form_for @search, :html => {:class => "form-stacked"} do |f|
    = f.label :name_matches
    = f.text_field :name_matches
    = f.submit :class => "btn primary"

%table.zebra-striped
  %thead
    %tr
      %th Estació
      %th Bicicletes
      %th Pàrquings

  %tbody
    - @stations.each do |station|
      %tr
        %td
          = link_to station.name, station
          %br
          %small= station.address
        %td
          = station.used
        %td
          = station.unused

= paginate @stations