%h1
  Stations
  %small #{@stations.size} stations

%table.zebra-striped
  %thead
    %tr
      %th Name
      %th Used
      %th Unused
      %th Concurrency

  %tbody
    - @stations.each do |station|
      %tr
        %td
          = link_to station.name, station
          %br
          %small= station.address
        %td= station.used
        %td= station.unused
        %td= station.concurrency