%h1
  = @station.name
  %small= @station.address

Mostres recollides del
= l(@station.hourly_samples.maximum(:created_at), :format => :short)
al
= l(@station.hourly_samples.minimum(:created_at), :format => :short)

.row
  .span4
    -#= image_tag @map.url

  .span12
    #availability
    :javascript
      stackedAvailability("#availability", #{@station.hourly_samples.limit(24).value_of(:used)}, #{@station.hourly_samples.limit(50).value_of(:unused)});

    %table.zebra-striped
      %thead
        %tr
          %th Data
          %th Bicicletes
          %th Pàrquings

      %tbody
        - @station.hourly_samples.limit(4).each do |sample|
          %tr
            %td= l(sample.created_at.change(:min => 0, :sec => 0), :format => :short)
            %td= sample.used
            %td= sample.unused

%h2 Disponibilitat de bicicletes mitjana per hora durant la setmana

#min-used

:javascript
  usageDistribution("#min-used", "used", #{@station.hourly_samples.punchcard.to_json});

%h2 Disponibilitat de pàrquing mitjana per hora durant la setmana

#min-unused

:javascript
  usageDistribution("#min-unused", "unused", #{@station.hourly_samples.punchcard.to_json});
