%h1
  = @station.name
  %small= @station.address

.row
  .span4
    = image_tag @map.url

  .span12
    = image_tag Gchart.bar(:data => [@station.samples.daily.value_of(:used), @station.samples.daily.value_of(:unused)],
           :bar_colors => 'b0eb66,fd7c6e', :stacked => true , :width => 700, :height => 100)

    %table.zebra-striped
      %thead
        %tr
          %th Date
          %th Used
          %th Unused

      %tbody
        - @station.samples.order("created_at desc").limit(10).each do |sample|
          %tr
            %td= l(sample.created_at, :format => :short)
            %td= sample.used
            %td= sample.unused

%h2 Average weekly usage distribution

:javascript
  usageDistribution(#{@station.samples.punchcard.to_json}, 960, 250);

%h2 Average weekly parking availability distribution

:javascript
  unusageDistribution(#{@station.samples.punchcard.to_json}, 940, 250);
