%h2 ¿Vols fer-te del bicing? Pensa-t’ho dues vegades.

.row
  .span6
    %h2 Disponibilitat
    %p
      Bicing te un total de
      %span.label.success= Station.count
      estacions,
      %span.label.success= Station.sum(:used)
      bicicletes i
      %span.label.success= Station.sum(:unused)
      pàrquings

    %p
      %span.label.important= Station.sum(:used).fdiv(120_000)
      bicicletes per abonat*

      %small
        * Segons el seu facebook hi ha una mitjana de 120.000 abonats
    %p
      %a.btn{:href => "#"} Veure informació detallada per estació &raquo;

  .span10
    %h2 Estacions no disponibles
    %ul
      - Station.unavailable.each do |station|
        %li= link_to station.name, station

%h2 Comentaris
#disqus_thread
:javascript
  var disqus_shortname = 'estadstiquesbicing';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
