.hero-unit
  %h1 Bicing Stats
  %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  %p= gmaps4rails(@map)
  %p= link_to "View stations &raquo;".html_safe, stations_path, :class => "btn primary large"

.row
  .span6
    %h2 Availability
    %p
      Bicing has a total of
      %span.label.success= @stations.size
      stations,
      %span.label.success= @total_bikes
      bikes and
      %span.label.success= @total_slots
      parking slots

    %p
      %a.btn{:href => "#"} More details &raquo;

  .span5
    %h2 Heading
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details &raquo;
  .span5
    %h2 Heading
    %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    %p
      %a.btn{:href => "#"} View details &raquo;

%h1 Average global weekly usage distribution

:javascript
  usageDistribution(#{Sample.punchcard.to_json}, 940, 250);

%h1 Average global weekly unusage distribution

:javascript
  unusageDistribution(#{Sample.punchcard.to_json}, 940, 250);