.page-header
  %h1 Mapa de disponibilitat

%p
  #map{:style => "width: 940px; height: 470px"}

:javascript
  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var data = #{Station.all.map { |s| {:id => s.id, :name => s.name, :used => s.used, :unused => s.unused, :latitude => s.latitude, :longitude => s.longitude} }.to_json};
  var bounds = new google.maps.LatLngBounds();
  var maxCircleSize = 100;
  var maxUsed = d3.max(data.map(function(station){ return station.used }))
  var radius = d3.scale.linear().domain([0, maxUsed]).range([0, maxCircleSize]);
  var color = d3.scale.linear().domain([0, maxUsed]).interpolate(d3.interpolateRgb).range(["#46A546", "#C43C35"])


  $(data).each(function(){
    var position = new google.maps.LatLng(this.latitude, this.longitude);
    bounds.extend(position);

    new google.maps.Circle({
            center: position,
            radius: 100,
            strokeColor: color(this.used),
            strokeOpacity: 0.8,
            strokeWeight: 1,
            fillColor: color(this.used),
            fillOpacity: 0.5,
            map: map
        });
  });
  map.fitBounds(bounds);

.row
  .span6
    %h2 Disponibilitat
    %p
      Bicing disposa actualment de
      %span.label.success= Station.count
      estacions,
      %span.label.success= Station.sum(:used)
      bicicletes i
      %span.label.success= Station.sum(:unused)
      pàrquings

    %p
      %span.label.important= number_with_precision(Station.sum(:used).fdiv(120_000))
      bicicletes per abonat*
      %br
      %small
        * Segons el seu facebook hi ha una mitjana de 120.000 abonats

    %p
      %span.label= l(HourlySample.maximum(:created_at).to_date)
      al
      %span.label= l(HourlySample.minimum(:created_at).to_date)

    %p
      = link_to "Veure informació detallada per estació &raquo;".html_safe, stations_path, :class => "btn"

  .span10
    %h2 Estacions no disponibles
    %ul
      - Station.unavailable.each do |station|
        %li= link_to station.name, station

%h2 Comentaris
#disqus_thread
:javascript
  var disqus_shortname = 'estadstiquesbicing';
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
