!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Bicing Stats
    %meta{:content => "Bicing Statistics and Visualizations", :name => "description"}
    %meta{:content => "Víctor Martínez", :name => "author"}
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{:src => "http://maps.google.com/maps/api/js?sensor=false"}
    = csrf_meta_tags

    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}

  %body
    .topbar
      .fill
        .container
          = link_to "Inici", root_path, :class => "brand"
          %ul.nav
            %li.active= link_to "Estacions", stations_path
            %li= link_to "¿Què és això?", nil
    .container
      = yield

      %footer
        %p
          %span{:href => "http://purl.org/dc/dcmitype/Dataset", :property => "dct:title", :rel => "dct:type", "xmlns:dct" => "http://purl.org/dc/terms/"} Aquesta web
          a estat realitzada per
          %a{:href => "http://knoopx.net", :property => "cc:attributionName", :rel => "cc:attributionURL", "xmlns:cc" => "http://creativecommons.org/ns#"} Víctor Martínez
          i està llicenciada sota
          = link_to "Reconeixement-NoComercial-CompartirIgual 3.0 No adaptada (CC BY-NC-SA 3.0)", "http://creativecommons.org/licenses/by-nc-sa/3.0/deed.ca", :rel => "license"
          Codi font lliurement disponible a
          = link_to "GitHub", "https://github.com/knoopx/bicing_stats"

          Construïda gràcies a
          = link_to "Ruby on Rails", "http://rubyonrails.org/"
          ,
          = link_to "Twitter Bootstrap", "http://twitter.github.com/bootstrap/"
          i
          = link_to "d3.js", "http://mbostock.github.com/d3/"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3031580-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

